@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
  background: #eff3f8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.content {
  max-width: 1180px;
  margin: 0 auto;
}
.header {
  display: flex;
  margin-top: 20px;
  padding: 0 15px;
  align-items: center;
}
.icon {
  width: 96px;
  fill: #333;
}
.title-description {
  padding: 0 15px;
}
.title {
  margin: 0;
}
.footer {
  text-align: center;
}
.github-icon {
  width: 32px;
  vertical-align: middle;
  fill: #333;
}

@media only screen and (max-width: 490px) {
  .header {
    flex-flow: column;
  }
  .title-description {
    text-align: center;
  }
}
